@import '@styles/variables';
@import '@styles/mixins';
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.container {
    background: $white-color;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    animation: fadeIn 0.3s ease;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;
    }
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    .input-group {
        width: 100%;
        margin-bottom: 15px; // Khoảng cách giữa các ô nhập
        display: flex;
        flex-direction: column;
    }
    .input {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        &.input-error {
            border-color: $error-color;
        }
    }
    .error-msg {
        color: $error-color;
        font-size: 1.2rem;
        margin-top: 4px;
        text-align: left;

        &.center {
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .submit-btn {
        padding: 10px;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
