@import '@styles/variables';
@import '@styles/mixins';
.sidebar {
    width: 260px;
    height: 100vh;
    background-color: $primary-color;
    border-right: 1px solid #f0f0f0;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;

    &__logo {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #f0f0f0;

        h2 {
            margin: 0;
            color: #2dc275;
            font-size: 20px;
        }
    }

    &__menu {
        flex: 1;
        border-right: none !important;
    }
}
