@import '@styles/variables';
@import '@styles/mixins';

.sidebar {
    width: 260px;
    min-height: 100vh;
    background-color: $secondary-color !important;
    display: flex;
    flex-direction: column;
    position: relative;

    &__logo {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondary-color;

        h2 {
            margin: 0;
            color: $white-color;
            font-size: 20rem;
            font-weight: $font-weight-bold;
        }
    }

    &__menu {
        flex: 1;
        overflow-y: auto;
        border-right: none !important;
        svg {
            fill: $white-color;
        }
        :global {
            .ant-menu {
                background: transparent !important;
                border-inline-end: none !important;

                .ant-menu-item {
                    color: rgba($white-color, 0.85) !important;

                    a {
                        color: rgba($white-color, 0.85) !important;
                        &:hover {
                            color: $white-color !important;
                        }
                    }

                    &:hover {
                        color: $white-color !important;
                        background-color: rgba($white-color, 0.1) !important;
                    }
                }

                .ant-menu-item-selected {
                    background-color: $secondary-color !important;

                    .ant-menu-title-content a {
                        color: $primary-color !important;
                    }
                }
            }
        }
    }
}
