@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.header {
    width: 100%;
    height: 76px;
    background-color: $primary-color;

    &__inner {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        @include mobile {
            padding: 0 16px;
        }
    }

    /* LOGO */
    &__logo {
        width: 180px;
        height: 35px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 3.5rem;
            color: $white-color;
            line-height: 35px;
            text-decoration: none;
        }
    }

    /* RIGHT BLOCK */
    &__right {
        margin-left: 220px;
        height: 76px;
        display: flex;
        align-items: center;
        flex: 1;

        /* Tablet: dồn hết sang phải */
        @include tablet {
            margin-left: auto;
            justify-content: flex-end;
            gap: 16px;
        }

        /* Mobile */
        @include mobile {
            margin-left: 0;
            flex: 1;
        }
    }

    /* SEARCH */
    &__search {
        width: 359px;
        height: 43px;
        display: flex;
        align-items: center;
        background-color: $white-color;
        border-radius: 6px;
        padding: 0 12px;

        @include tablet {
            width: auto;
            background: transparent;
            padding: 0;
            order: 1;
        }

        @include mobile {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            background: transparent;
            padding: 0;
        }
    }

    &__search-icon {
        width: 29px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: 16px;
            height: 16px;
        }

        @include mobile-tablet {
            width: 32px;
            height: 32px;

            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__search-input {
        width: 194px;
        height: 18px;
        border: none;
        outline: none;
        font-size: 1.6rem;
        margin-left: 8px;
    }

    &__search-btn {
        height: 29px;
        padding: 0 12px;
        border: none;
        border-radius: 4px;
        color: $text-color;
        font-size: 1.6rem;
        font-weight: 500;
        cursor: pointer;
        margin-left: auto;
        background-color: $white-color;
    }

    &__search-input,
    &__search-btn {
        @include mobile-tablet {
            display: none;
        }
    }

    // actions
    &__actions {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: auto;

        @include tablet {
            margin-left: 0;
            order: 2;
        }
    }

    &__tickets {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: bold;
        color: $white-color;
        padding: 0 8px;

        img {
            width: 16px;
            height: 16px;
            margin-right: 6px;
        }

        @include mobile-tablet {
            display: none;
        }
    }

    &__auth {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 1.6rem;
        font-weight: bold;
        color: $white-color;
        padding: 0 8px;
        cursor: pointer;
        white-space: nowrap;
        gap: 8px;
    }
    &__divider {
        opacity: 0.9;
    }
    &__text-hidable {
        @include mobile-tablet {
            display: none;
        }
    }
}
