@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.header {
    width: 100%;
    height: 76px;
    background-color: $primary-color;

    &__inner {
        height: 100%;
        position: relative;
        @include flex(center, center);

        @include mobile {
            padding: 0 16px;
        }
    }

    /* LOGO */
    &__logo {
        width: 180px;
        height: 35px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 3.5rem;
            color: $white-color;
            line-height: 35px;
            text-decoration: none;
        }
    }

    /* RIGHT BLOCK */
    &__right {
        margin-left: 220px;
        height: 76px;
        flex: 1;
        @include flex(center, center);

        @include tablet {
            margin-left: auto;
            justify-content: flex-end;
            gap: 16px;
        }

        @include mobile {
            margin-left: 0;
        }
    }

    /* SEARCH */
    &__search {
        width: 359px;
        height: 43px;
        background-color: $white-color;
        padding: 0 12px;
        @include flex(flex-start, center);
        @include radius_common(6px);

        /* ❗ Tablet giữ NGUYÊN như desktop */

        @include mobile {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            background: transparent;
            padding: 0;
        }
    }

    &__search-icon {
        width: 29px;
        height: 29px;
        cursor: pointer;
        @include flex(center, center);

        img {
            width: 16px;
            height: 16px;
        }

        /* chỉ mobile icon to hơn */
        @include mobile {
            width: 32px;
            height: 32px;

            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__search-input {
        width: 194px;
        height: 18px;
        border: none;
        outline: none;
        font-size: 1.6rem;
        margin-left: 8px;
    }

    &__search-btn {
        height: 29px;
        padding: 0 12px;
        margin-left: auto;
        border: none;
        background-color: $white-color;
        color: $text-color;
        font-size: 1.6rem;
        font-weight: 500;
        cursor: pointer;
        @include radius_common(4px);
    }

    /* ✅ CHỈ MOBILE mới ẩn */
    &__search-input,
    &__search-btn {
        @include mobile {
            display: none;
        }
    }

    /* ACTIONS */
    &__actions {
        height: 100%;
        margin-left: auto;
        @include flex(center, center, 8px);

        @include tablet {
            margin-left: 0;
            order: 2;
        }
    }

    &__tickets {
        font-size: 1.6rem;
        font-weight: bold;
        color: $white-color;
        padding: 0 8px;
        @include flex(center, center, 6px);

        img {
            width: 16px;
            height: 16px;
        }

        @include mobile {
            display: none;
        }
    }

    &__auth {
        height: 100%;
        font-size: 1.6rem;
        font-weight: bold;
        color: $white-color;
        padding: 0 8px;
        cursor: pointer;
        white-space: nowrap;
        @include flex(center, center, 8px);
    }

    &__divider {
        opacity: 0.9;

        @include mobile {
            display: none;
        }
    }

    &__text-hidable {
        @include mobile {
            display: none;
        }
    }
}
