@import '@styles/variables.module.scss';

.header {
    width: 100%;
    height: 76px;
    background-color: $primary-color;

    &__inner {
        height: 100%;
        display: flex;
        align-items: center;
    }

    /* LOGO */
    &__logo {
        width: 180px;
        height: 35px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 3.5rem;
            color: $white-color;
            line-height: 35px;
        }
    }

    //  RIGHT BLOCK
    &__right {
        margin-left: 220px;
        height: 72px;
        display: flex;
        align-items: center;
        flex: 1;
    }

    // SEARCH
    &__search {
        width: 359px;
        height: 43px;
        display: flex;
        align-items: center;
        background-color: $white-color;
        border-radius: 6px;
        padding: 0 12px;
    }

    &__search-icon {
        width: 29px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__search-input {
        width: 194px;
        height: 18px;
        border: none;
        outline: none;
        font-size: 1.4rem;
        margin-left: 8px;
    }
    &__search-btn {
        height: 29px;
        padding: 0 12px;
        border: none;
        border-radius: 4px;
        color: $text-color;
        font-size: 1.3rem;
        font-weight: 500;
        cursor: pointer;
        margin-left: auto;
        background-color: $white-color;
        &:hover {
            opacity: 0.85;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        margin-left: auto;
        height: 100%;
    }

    &__tickets,
    &__auth {
        font-size: 1.6rem;
        font-weight: bold;
        color: $white-color;
        text-decoration: none;
        padding: 0 8px;
        white-space: nowrap;
        cursor: pointer;
    }
}
