@import '@styles/variables';
@import '@styles/mixins';

.eventCard {
    background-color: #2a2a2e;
    border-radius: 1.2rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 100%;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
    }
}

.eventImage {
    width: 100%;
    aspect-ratio: 16 / 9;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.eventInfo {
    padding: 1.2rem;

    .eventTitle {
        color: $white-color;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .eventDetails {
        display: flex;
        flex-direction: column; // Xếp chồng dọc
        gap: 0.4rem;

        .eventPrice {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: 700;
        }

        .eventDate {
            color: #a0a0a0;
            font-size: 1.3rem;
        }
    }
}
