// src/pages/organizer/EventManagement/EventManagement.module.scss

// Nếu bạn muốn custom thêm scrollbar cho bảng
:global {
    .ant-table-body {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #393f4e;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
}
