@import '@styles/variables';

:global {
    .ql-toolbar {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: $border-color;
    }
    .ql-container {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: $font-size-md;
        min-height: 250px;
    }
}
