@import '@styles/variables';

.layoutContainer {
    display: flex;
    height: 100vh;
    overflow: hidden; // Ngăn cuộn toàn trang
    background-color: $bg-admin;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.scrollArea {
    flex: 1;
    overflow-y: auto; // Chỉ cuộn khu vực nội dung
    padding: 24px;
}
