@import '@styles/variables';
@import '@styles/mixins';

.container {
    width: 100%;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
}

.profile-wrapper {
    width: 100%;
    max-width: 60rem;
    padding: 3.2rem;
    border-radius: 1.2rem;
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.05);
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 3.2rem;
        color: $white-color;
        text-align: center;
    }
}

.profile-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    max-width: 45rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    label {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
        color: $white-color;
    }

    input {
        width: 100%;
        padding: 1.2rem;
        border: 0.01rem solid #dcdfe6;
        border-radius: 0.8rem;
        font-size: 1.4rem;
        transition: border-color 0.2s;

        &:focus {
            border-color: $primary-color;
            outline: none;
        }

        &.input-disabled {
            background-color: #f5f7fa;
            color: $text-color;
            cursor: not-allowed;
        }
    }
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 45rem;

    label {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.4rem;
        color: $white-color;
        cursor: pointer;
    }
}

.update-btn {
    width: 100%;
    max-width: 45rem;
    padding: 1.4rem;
    background-color: $primary-color;
    color: $white-color;
    border: none;
    border-radius: 8rem;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1.2rem;
    transition: opacity 0.2s;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        opacity: 0.9;
    }
}
