// Các class, thẻ, styles dùng chung cho dự án
html {
    /* HACK */
    font-size: 62.5%; /* 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
