// globals.scss

html {
    font-size: 62.5%; //1rem = 10px
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
}

// lists
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

// links
a {
    text-decoration: none;
}

// images
img {
    max-width: 100%;
    display: block;
}
