// Các khối code dùng chung và tái sử dựng lại được, có thể dynamic các giá trị bên trong khối code đó
@import './variables.module.scss';
@mixin radius-common($radius: 10px) {
    border-radius: $radius;
}

@mixin flex($x, $y, $gap: 0) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    gap: $gap;
}
// Mixin cho Mobile
@mixin mobile-width {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet-width {
    @media (min-width: 740px) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile-tablet-width {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}
@mixin hide-on-mobile-tablet {
    display: none !important;
}

@mixin grid-wide($max-width: 1200px) {
    max-width: $max-width;
    margin: 0 auto;
}
@mixin grid($width: 100%) {
    width: $width;
    display: block;
    padding: 0;
}
