// Các khối code dùng chung và tái sử dựng lại được, có thể dynamic các giá trị bên trong khối code đó
@use './variables.module.scss';
@mixin radius_common($radius: 10px) {
    border-radius: $radius;
}

// Mixin cho Mobile
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 740px) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile-tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}
