// Brand Colors
$primary-color: #2dc275;
$secondary-color: #27272a;
$third-color: #393f4e;

// Neutral Colors
$white-color: #ffffff;
$text-color: #9ca6b0;
$sub-color: #2a2d34;
$border-color: #f0f0f0;
$bg-admin: #f8fafc;
$hover-color: #f5f5f5;
// Feedback Colors
$error-color: #ff4d4f;
// Layout & Spacing
$header-height: 76px;
$mobile-width: 739px;
$tablet-width: 1023px;

// Typography
$font-family: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
// --- Typography Sizes ---
$font-size-xs: 1.2rem; // 12px
$font-size-sm: 1.4rem; // 14px
$font-size-md: 1.6rem; // 16px - Default Body
$font-size-lg: 1.8rem; // 18px
$font-size-xl: 2rem; // 20px
$font-size-h3: 2.4rem; // 24px
$font-size-h2: 3.2rem; // 32px
$font-size-h1: 4rem; // 40px

// --- Icon Sizes ---
$icon-size-sm: 1.6rem; // 16px
$icon-size-md: 2rem; // 20px
$icon-size-lg: 2.4rem; // 24px
$icon-size-xl: 3.2rem; // 32px
