// Lưu tất cả những thứ về màu sắc, kích cỡ, độ dài dùng chung
$primary-color: #2dc275;
$secondary-color: #27272a;
$third-color: #393f4e;
$white-color: #ffffff;
$text-color: #2a2d34;
$sub-color: #9ca6b0;
$error-color: red;
// Heights
$header-height: 76px;

// Breakpoints
$mobile-width: 739px;
$tablet-width: 1023px;
