// Lưu tất cả những thứ về màu sắc, kích cỡ, độ dài dùng chung:root {
$primary-color: #2dc275;
$secondary-color: #27272a;
$third-color: #393f4e;
$white-color: #ffff;
$text-color: #c9c9c9;
$sub-color: #9ca6b0;
