// Brand Colors
$primary-color: #2dc275;
$secondary-color: #27272a;
$third-color: #393f4e;

// Neutral Colors
$white-color: #ffffff;
$text-color: #9ca6b0;
$sub-color: #2a2d34;
$border-color: #f0f0f0;
$bg-admin: #f8fafc;
$hover-color: #f5f5f5;
// Feedback Colors
$error-color: #ff4d4f;
// Layout & Spacing
$header-height: 76px;
$mobile-width: 739px;
$tablet-width: 1023px;

// Typography
$font-family: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
