@import '@styles/variables';
@import '@styles/mixins';

.stat-card {
    @include radius-common(12px);
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    }

    &__content {
        @include flex(flex-start, center, 16px);
    }

    &__icon {
        width: 48px;
        height: 48px;
        @include radius-common();
        @include flex(center, center);
        font-size: $font-size-xl;
    }

    &__title {
        color: $text-color;
        font-size: $font-size-sm; // 14px tương đương 1.4rem
        font-weight: $font-weight-semi-bold; // 500 gần với giá trị 600 (semi-bold) trong hệ thống của bạn
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
}
