@import '@styles/variables';
@import '@styles/mixins';

.statCard {
    @include radius-common(12px);
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    }

    .content {
        // Đổi từ __content
        @include flex(flex-start, center, 16px);
    }

    .icon {
        // Đổi từ __icon
        width: 48px;
        height: 48px;
        @include radius-common();
        @include flex(center, center);
        font-size: $font-size-xl;
    }

    .title {
        // Đổi từ __title
        color: $text-color;
        font-size: $font-size-sm;
        font-weight: $font-weight-semi-bold;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
}
