@import '@styles/variables';
@import '@styles/mixins';

.wrapper {
    width: 100%;
    height: 50px;
    background-color: #000;
    border-bottom: 1px solid rgba($white-color, 0.1);
    @include flex(center, center);

    .navList {
        // Đổi từ .nav-list
        height: 100%;
        list-style: none;
        @include flex(center, center, 30px);

        @include mobile-tablet-width {
            justify-content: flex-start;
            overflow-x: auto;
            padding: 0 20px;
            gap: 20px;
            width: 100%;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .navItem {
        // Đổi từ .nav-item
        flex-shrink: 0;
        height: 100%;
    }

    .navLink {
        // Đổi từ .nav-link
        color: rgba($white-color, 0.7);
        font-size: $font-size-sm;
        text-decoration: none;
        white-space: nowrap;
        height: 100%;
        @include flex(center, center);
        transition: all 0.2s ease;
        position: relative;

        &:hover,
        &.active {
            color: $white-color;
        }
    }
}
