@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.nav {
    width: 100%;
    height: 60px;
    background-color: black;

    &__inner {
        height: 100%;
        @include grid-wide();
        @include flex(flex-start, center);
    }

    &__list {
        @include flex(center, center, 24px);
    }

    &__item {
        color: $white-color;
        font-size: 1.6rem;
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }
    }
}
