@import '@styles/_variables';
@import '@styles/_mixins';

.home {
    background-color: $secondary-color;
    min-height: 100vh;
}

.wrapper {
    @include grid-wide();
    padding: 2.4rem 0;
}

.banner-container {
    width: 100%;

    :global(.swiper) {
        padding-bottom: 4rem;
    }

    :global(.swiper-pagination) {
        bottom: 0 !important;
    }

    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
        color: $primary-color;
        background: rgba($white-color, 0.1);
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        top: 45%;

        &::after {
            font-size: 1.8rem;
            font-weight: bold;
        }

        &:hover {
            background: rgba($white-color, 0.2);
        }
        @include mobile-width {
            display: none;
        }
    }

    :global(.swiper-pagination-bullet) {
        background: $white-color;
        opacity: 0.5;
        width: 1rem;
        height: 1rem;
    }

    :global(.swiper-pagination-bullet-active) {
        background: $primary-color;
        opacity: 1;
        width: 2.5rem;
        border-radius: 0.5rem;
    }
}

.banner-item {
    width: 100%;
    height: auto;
    border-radius: 1.2rem;
    overflow: hidden;
    background-color: $third-color;

    img {
        width: 100%; // Luôn hiển thị hết chiều ngang slide
        height: auto; // Tự động tính toán chiều cao theo tỉ lệ ảnh gốc
        display: block; // Tránh khoảng hở li ti dưới chân ảnh
        object-fit: contain; // Đảm bảo toàn bộ nội dung ảnh hiện ra, không bị cắt
        transition: transform 0.4s ease;

        &:hover {
            transform: scale(1.03);
            cursor: pointer;
        }
    }
}
